@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body
{

    background-image: url(https://images.pexels.com/photos/730547/pexels-photo-730547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    

}

header
{

    background-color: rgba(116, 116, 116, 0.63);
    width: 15%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.123);
    margin: auto;
    border-radius: 5%;
    

}

main
{

    width: 45%;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.849);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.123);
    margin: auto;

}

div.vertical_line
{

    width: 1.5px;
    background-color: rgb(0, 48, 0);
    height: 85%;
    float: left;
    margin-top: -50px;
    padding-left: 1%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.123);

}

footer
{

    background-color: rgba(255, 255, 255, 0.938);

}

h1.header
{

    text-align: center;
    text-decoration: underline red;
    color: rgba(184, 230, 172, 0.705);
    font-family: 'Monoton', cursive;
    

}

p.main
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.171);
    padding-top: 2%;
    text-decoration: underline red;
}

a
{

    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.171);

}

a:hover
{

    
    color: brown;

}

p.footer
{
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.171);

}

a.footer
{
    
    color: black;
    margin: 0.3%;
    font-weight: bolder;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.171);
    font-family: Arial, Helvetica, sans-serif;    

}

a.footer:hover
{

    text-decoration: underline;
    color: brown;

}